*{



}
body {
background-color: blue;

color: crimson
}

.post{
    color:red;
    background-color: white; 
    text-align:center; 
    font-size: 36px;   
    align-items:center;
    line-height: 2.5;
    
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px:
            
}   
p.post{
    padding: top 50px;
    text-align: center;   
    position: relative; height:100px; 
    line-height: 100px;
}
.title{ 
    text-align:center;
    color: red
}   
.moose_graph{
    align-items: center; 
    height: 700px;
    width: 1700px;
    align-self:center;
    background-color: white;
    background-size:contain;
    margin-left: 100px;
    height:fit-content;
    width:1300px;
    align-content:center;
    margin-right: 100px;
    padding-left:200px;
    padding-right:200px;
}

.moose{ 
   height: 300px; 
    width: 1300px;
    color:red;
    background-color: white; 
    text-align: center; 
    font-size: 36px;   
    
    padding-right:200px;
    padding-left:200px;
    margin-left:100px;
    margin-right:100px;
    line-height: 2.5;
    margin-bottom:0px;
}
p.moose{
    padding-bottom:100px;
    background-repeat:space;
    margin-top:0px;
}


