body {
background-color: blue;

color: crimson
}

.post{
    color:red;
    background-color: white; 
    text-align:center; 
    font-size: 36px;   
    align-items:center;
    line-height: 2.5;
    
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px:
            
}   
p.post{
    padding: top 50px;
    text-align: center;   
    position: relative; height:100px; 
    line-height: 100px;
}
.title{ 
    text-align:center;
    color: red
}   
.moose{ 
    height:600px; 
    width: 1300px;
    color:red;
    background-color: white; 
    text-align:center; 
    font-size: 36px;   
    align-items:center;
    
    
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
}
